div#content {
	text-align: center;
}

.profile {
	width: 150px;
	height: 300px;
	padding: 10px;
	margin: 10px;
	display: inline-block;
	border: 5px solid var(--dark-blue);
	text-align: center !important;
}

.profile img {
	width: calc(100% - 6px);
	height: auto;
	border: 3px ridge var(--main-bg);
}

.profile h4 {
	margin: 10px 0px;
}

.profile p {
	width: 100%;
	padding: 0px;
	margin: 10px 0px;
}